{% extends 'base.html' %}
{% block title %}
    <title>Contact Us - TaskDiary</title>
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h2 text-dark">Task Diary</p></center>
                <center><p class="h4 mt-3 text-secondary">Email</p></center>
                <center><p class="h5 text-info mb-5" ><strong>parshantnain99@gmail.com</strong></p></center>
                <center><a href="{% url 'index' %}"><button type="button" class="btn btn-success text-white col-sm-4 my-2 my-sm-0 btn-lg mt-3 round-lg shadow" >Home Page</button></a></center>
            </div>
        </div>
    </div>
{% endblock content %}