{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Login - TaskDiary</title>
{% endblock title %}
{% block content %}
    <div class="container">
    <br>
        <center><p class="h2 text-info">Login On TaskDiary</p></center>
        <center>{% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
        </center>

        <center>
            <form method="post" class="mt-4 col-6">
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-success text-white col-sm-4 my-2 my-sm-0 btn-lg mt-3 round-lg shadow"type="submit">Login</button>
            </form>
        </center>
    </div>
{% endblock content %}